<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>WALK_RIGHT_0F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{28,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{1,381},{28,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_RIGHT_1F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{30,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{1,1},{30,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_RIGHT_10F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{28,54}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{1,325},{28,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_RIGHT_2F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{30,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{1,55},{30,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_RIGHT_3F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-1,-6}</string>
			<key>spriteSize</key>
			<string>{30,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{1,109},{30,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_RIGHT_4F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-1,-6}</string>
			<key>spriteSize</key>
			<string>{30,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{1,163},{30,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_RIGHT_5F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-1,-6}</string>
			<key>spriteSize</key>
			<string>{30,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{1,217},{30,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_RIGHT_6F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-1,-6}</string>
			<key>spriteSize</key>
			<string>{30,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{1,271},{30,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_RIGHT_7F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{28,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{1,435},{28,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_RIGHT_8F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{28,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{1,489},{28,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_RIGHT_9F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{28,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{1,543},{28,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>WALK_RIGHT.png</string>
		<key>size</key>
		<string>{32,596}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a386011aefd669a1bd1be075461fa01b:1a01237b43cb711c2a6cb26d8ae01ad2:d15ceb23a96f13aac3823db8f3407dd7$</string>
		<key>textureFileName</key>
		<string>WALK_RIGHT.png</string>
	</dict>
</dict>
</plist>
