<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>WALK_DOWN_0F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{32,54}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{1,1},{32,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_DOWN_1F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{32,54}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{35,1},{32,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_DOWN_10F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{32,54}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{273,1},{32,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_DOWN_2F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{32,54}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{69,1},{32,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_DOWN_3F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{32,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{307,1},{32,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_DOWN_4F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{32,54}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{103,1},{32,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_DOWN_5F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{32,54}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{137,1},{32,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_DOWN_6F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{32,54}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{171,1},{32,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_DOWN_7F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{32,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{341,1},{32,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_DOWN_8F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{32,54}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{205,1},{32,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_DOWN_9F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{32,54}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{239,1},{32,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>WALK_DOWN.png</string>
		<key>size</key>
		<string>{374,56}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:14b66c7baa726fd6ed0c3cf83ce7ff16:464e5be43af83f3900df0ad5381dc7ae:6090ceeef57faee7710708c1ba65a3fd$</string>
		<key>textureFileName</key>
		<string>WALK_DOWN.png</string>
	</dict>
</dict>
</plist>
