<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>WALK_RIGHT_0M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{28,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{99,55},{28,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_RIGHT_1M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{30,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{31,1},{30,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_RIGHT_10M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{28,54}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{1,1},{28,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_RIGHT_2M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{30,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{35,55},{30,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_RIGHT_3M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-1,-6}</string>
			<key>spriteSize</key>
			<string>{30,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{63,1},{30,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_RIGHT_4M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-1,-6}</string>
			<key>spriteSize</key>
			<string>{30,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{67,55},{30,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_RIGHT_5M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-2,-6}</string>
			<key>spriteSize</key>
			<string>{32,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{1,57},{32,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_RIGHT_6M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-1,-6}</string>
			<key>spriteSize</key>
			<string>{30,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{95,1},{30,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_RIGHT_7M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{28,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{127,1},{28,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_RIGHT_8M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{28,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{129,55},{28,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_RIGHT_9M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{28,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{99,55},{28,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>WALK_RIGHT.png</string>
		<key>size</key>
		<string>{158,110}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:467c945661221336cf127dd11f951381:7408768f30a7dc5bf5111238f4923c2e:d15ceb23a96f13aac3823db8f3407dd7$</string>
		<key>textureFileName</key>
		<string>WALK_RIGHT.png</string>
	</dict>
</dict>
</plist>
