<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>WALK_DOWN_0M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{32,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{1,1},{32,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_DOWN_1M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{32,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{35,1},{32,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_DOWN_10M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{32,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{239,1},{32,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_DOWN_2M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{32,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{69,1},{32,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_DOWN_3M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{32,50}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{273,1},{32,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_DOWN_4M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{32,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{103,1},{32,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_DOWN_5M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{32,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{137,1},{32,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_DOWN_6M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{32,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{171,1},{32,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_DOWN_7M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{32,50}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{307,1},{32,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_DOWN_8M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{32,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{205,1},{32,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WALK_DOWN_9M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{32,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{1,1},{32,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>WALK_DOWN.png</string>
		<key>size</key>
		<string>{340,54}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:96a761856c428854b33af37c55ffbefe:bf8ed83c2b636d8f05827de2538ca0d1:6090ceeef57faee7710708c1ba65a3fd$</string>
		<key>textureFileName</key>
		<string>WALK_DOWN.png</string>
	</dict>
</dict>
</plist>
